@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4"><i>Welcome to Conrad's E-Commerce store!</i></h1>
</div>
<div class="text-center">
    <h2>Shop our <strong>amazing</strong> deals here!</h2>
</div>
<div id="myCaraousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="caraousel-indicators">
        <li data-target="#myCaraousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCaraousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCaraousel" data-slide-to="2" class="active"></li>
    </ol>
</div>