@page
@model RazorPageApp.Pages.RegisterViewModel
@{
}
<h1>Sign Up here</h1>
<form>
	<label for="email">Email:</label><br />
	<input type="text" id="email" name="email"/><br />

	<label for="fName">First Name:</label><br />
	<input type="text" id="fName" name="fName"/><br />

	<label for="fName">Last Name:</label><br />
	<input type="text" id="lName" name="lName"/><br />

	<label for="uName">Username:</label><br />
	<input type="text" id="uName" name="uName"/><br />

	<label for="pWord">Password:</label><br />
	<input type="text" id="pWord" name="pWord" /><br />

	<label for="pWord2">Re type password:</label><br />
	<input type="text" id="pWord2" name="pWord2" /><br /><br />


	<input type="submit" value="Register" />
</form>