@page
@model RazorPageApp.Pages.ShopViewModel
@{
}
<h1>Product List go here with filters etc.</h1>
<form>
	<input list="filters" />
	<datalist id="filters">
		<option value="Featured"></option>
		<option value="Price: Low to high"></option>
		<option value="Price: High to low"></option>
		<option value="New"></option>
		<option value="Popular"></option>
	</datalist>
</form>